body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../img/bg/freddie-marriage-92621-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

#register {
  margin: auto;
}

.awesome-form .form-title {
  color: #666;
  padding: 0;
  margin: 5px;
}

.form-title {
  margin-top: 20px;
  text-align: center;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
